    .usual-text p {
        line-height: 1.5em;
        margin-bottom: 2.5em;
        width: 50%;
        font-family: e-UkraineLight;
        padding: 0;
        box-align: justify;
        margin-left: 12.5vw;
    }
    
    .small-header {
        font-size: 1.7em;
        margin-bottom: 1em;
        display: block;
        font-family: e-UkraineLight;
        line-height: 1.5em;
        -webkit-margin-before: 1em;
        margin-block-start: 1em;
        -webkit-margin-after: 1em;
        margin-block-end: 1em;
        -webkit-margin-start: 0px;
        margin-inline-start: 0px;
        -webkit-margin-end: 0px;
        margin-inline-end: 0px;
        padding: 0;
        box-align: justify;
        margin-left: 12.5vw;
        margin-right: 20%;
        margin-top: 50px;
        position: relative;
        width: 67%;
        max-width: 50%;
    }
    
    .back-color {
        background-color: #E2ECF4;
        width: 100%;
        padding-top: 30px;
        padding-bottom: 10px;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    
    #line_chart {
        position: relative;
    }
    
    #codex_articles {
        position: relative;
        display: block !important;
        max-width: 99vw !important;
    }
    
    #codex_articles .tooltip {
        position: absolute;
        z-index: 999;
        pointer-events: none;
    }
    
    #activitySphereOnOffenseMomentName {
        position: relative;
    }
    
    #activitySphereOnOffenseMomentName .tooltip {
        position: absolute;
        pointer-events: none;
    }
    
    #two-buttons {
        display: block !important;
        max-width: 99vw !important;
    }
    
    #two-buttons {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
        margin-left: 12.5vw;
        margin-right: 20%;
        max-width: 50%;
    }
    
    #var-1,
    #var-2 {
        font-family: e-UkraineLight;
        display: inline-block;
        font-size: 1em;
        border: 2px solid black;
        border-radius: 40px;
        background-color: black;
        cursor: pointer;
        background-origin: border-box;
        border: 2px solid transparent;
        position: relative;
        border: 2px solid black;
        padding: 12px 56px;
        border-radius: 40px;
        -webkit-transition: opacity .5s;
        transition: opacity .5s;
        background-color: white;
        margin-bottom: 20px;
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    }
    
    #courts_regions {
        position: relative;
    }
    
    #courts_regions .tooltip {
        position: absolute;
        pointer-events: none;
    }